src/main/resources/wsdlTarifas/wsTarifas.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/WSQBC/QBCDE" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" targetNamespace="http://tempuri.org/WSQBC/QBCDE" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/WSQBC/QBCDE">
      <s:element name="listaTarifas">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cUsuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cTarifa" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cMarca" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cTipo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cVersion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cModelo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cCAMIS" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cCategoria" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cNvaAMIS" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="listaTarifasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listaTarifasResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="listaMarcas">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="cUsuario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cTarifa" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="listaMarcasResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="listaMarcasResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="listaTarifasSoapIn">
    <wsdl:part name="parameters" element="tns:listaTarifas" />
  </wsdl:message>
  <wsdl:message name="listaTarifasSoapOut">
    <wsdl:part name="parameters" element="tns:listaTarifasResponse" />
  </wsdl:message>
  <wsdl:message name="listaMarcasSoapIn">
    <wsdl:part name="parameters" element="tns:listaMarcas" />
  </wsdl:message>
  <wsdl:message name="listaMarcasSoapOut">
    <wsdl:part name="parameters" element="tns:listaMarcasResponse" />
  </wsdl:message>
  <wsdl:portType name="wsTarifaSoap">
    <wsdl:operation name="listaTarifas">
      <wsdl:input message="tns:listaTarifasSoapIn" />
      <wsdl:output message="tns:listaTarifasSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="listaMarcas">
      <wsdl:input message="tns:listaMarcasSoapIn" />
      <wsdl:output message="tns:listaMarcasSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsTarifaSoap" type="tns:wsTarifaSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="listaTarifas">
      <soap:operation soapAction="http://tempuri.org/WSQBC/QBCDE/listaTarifas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listaMarcas">
      <soap:operation soapAction="http://tempuri.org/WSQBC/QBCDE/listaMarcas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsTarifaSoap12" type="tns:wsTarifaSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="listaTarifas">
      <soap12:operation soapAction="http://tempuri.org/WSQBC/QBCDE/listaTarifas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listaMarcas">
      <soap12:operation soapAction="http://tempuri.org/WSQBC/QBCDE/listaMarcas" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsTarifa">
    <wsdl:port name="wsTarifaSoap" binding="tns:wsTarifaSoap">
      <soap:address location="http://qbcenter.qualitas.com.mx/wsTarifa/wsTarifa.asmx" />
    </wsdl:port>
    <wsdl:port name="wsTarifaSoap12" binding="tns:wsTarifaSoap12">
      <soap12:address location="http://qbcenter.qualitas.com.mx/wsTarifa/wsTarifa.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>